{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block body %}
	<div class="container text-center">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1>Réinitialisez votre mot de passe</h1>
		<div>
			<small>
				Entrez l'adresse email utilisée lors de l'inscription pour recevoir un lien permettant de réinitialiser
				votre mot de passe
			</small>
		</div>

		{{ form_start(requestForm) }}
		<div class="row justify-content-center">
			<div class="col-6">{{ form_row(requestForm.email) }}</div>
		</div>
		<button class="btn btn-primary">Envoyer</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
