{% extends 'base.html.twig' %}

{% block title %}New CategoryDonnees{% endblock %}

{% block body %}
    <h1>Create new CategoryDonnees</h1>

    {{ include('category_donnees/_form.html.twig') }}

    <a href="{{ path('category_donnees_index') }}">back to list</a>
{% endblock %}
