{% extends 'base.html.twig' %}

{% block title %}SQVALD | À propos{% endblock %}

{% block style %}
	<style>
		.card {
			border-width: .5px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container pt-3">
		<h1 class="color-primary">À propos</h1>
		<div class="row">
			<h2 class="border-bottom my-3">Objectif du projet SQVALD</h2>
			<p>Les patients atteints de maladies chroniques ou affections de longue durée (ALD) comme le Cancer, se
				voient de plus en plus recommander, en plus des soins classiques, des activités de soins de supports
				afin d’améliorer leur état de santé et leur qualité de vie au quotidien (traitement de la douleur, de la
				fatigue, des effets secondaires, le soutien psychologique, la reprise d’une activité physique adaptée à
				visée thérapeutique, etc.). l’ARS maintient à jour un catalogue sur l’offre de soins et de soins de
				support dans la région permettant d’orienter le patient vers les structures adaptées à son contexte et à
				sa situation. Aujourd’hui, la recommandation d’activités repose principalement sur la connaissance et
				l’appréciation du professionnel de santé et sur une démarche de recherche autour d’une structure donnée.
				Cette dernière peut souvent se faire par catégorie ou mot clé et renvoie souvent au retour des
				informations basiques telles que l’adresse, le numéro de téléphone, les horaires d’ouverture, ou encore
				un bref descriptif de l’activité de la structure ; ce qui est utile mais pas simple à explorer en vue
				faire un choix. Par ailleurs, lorsqu’un parcours de soins de support est mis en place, des rendez-vous
				de suivi sont proposés au patient afin de permettre l’évaluation de sa situation par des professionnels
				. Cette démarche est souvent accompagnée par des demandes de remplissage formulaires/questionnaires pour
				permettre d’apprécier l’évolution de la situation du patient. Cette interaction pas très souple avec un
				patient souvent fatigué et en manque de confiance est souvent perçue comme une difficulté qui s’ajoute à
				celles de son quotidien. En outre, cette manière d’obtenir l’information sur l’état du patient n’offre
				malheureusement pas un suivi continu de l’évolution du patient et les réponses aux questionnaires
				peuvent ne pas refléter de manière objective cette évolution. L’objectif du projet SQVALD est
				d’exploiter les technologies de l’internet des objets et de l’intégration de données et d’application
				dans le contexte du patient et/ou de ses aidants et des structures de soins afin de l’accompagner dans
				l’organisation et le suivi des soins de support en cohérence avec son parcours de soins géré sur
				e-parcours. Cet objectif global se décline en trois sous-objectifs :</p>
			<ul>
				<li><strong>Fournir un prototype web/mobile de recommandation des soins de support</strong> adaptés au
					profil du patient et en cohérence avec son parcours de santé. Il s’agit notamment de lui permettre
					de choisir les activités et structures les plus adéquates afin de renforcer son rôle de patient
					acteur de son parcours et d’augmenter les chances d’évolution positive de sa situation grâce à
					l’acceptation et à la motivation.
				</li>
				<li><strong>Accompagner le patient dans la réalisation de ses soins de support.</strong> Une fois le
					choix des activités de soins de support validé, il s’agit d’aider à sa réalisation en tenant compte
					des paramètres logistiques dans le contexte du patient et des structures de soins de support.
				</li>
				<li><strong>Assurer le suivi régulier et non-intrusif de la qualité de vie du patient à travers les
						NTIC.</strong> Il s’agit ici de mesurer, en exploitant les NTIC et des dispositifs intelligents
					(smartphones, montres connectées, capteurs portatifs, etc.), la qualité de vie des patients de façon
					souple, pertinente et objective. Des indicateurs de suivi et d’observation de la réalisation du
					parcours de soins recommandé seront ainsi mis en place et continuellement mesurés en vue de
					recommander des adaptations nécessaires, dans le respect de la dimension éthique et de la vie privé
					du patient.
				</li>
			</ul>
			<p class="lead color-primary">Pour résumer, ce projet vise ainsi à répondre à un besoin sanitaire et sociétal
				d'optimisation dématérialisée des parcours-de soins de patients dans la région Centre Val de Loire en
				faisant appel à l’innovation technologique en lien avec les NTIC et l’Internet des objets. Il se situe
				dans le cadre du dispositif régional de recherche RTR DIAMS (Données, Intelligence Artificielle,
				Modélisation et Simulation).</p>
		</div>
		<div class="row">
			<h2 class="border-bottom my-3">Work packages</h2>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">1</p>
							<p class="h5 m-0">Coordination et dissémination</p>
						</div>
						<p class="m-0 fw-bold">M0 à M36</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsable :</strong> N Messai</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> Tous</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">2</p>
							<p class="h5 m-0">Définition des critères à prendre en compte dans la modélisation des
								profils des patients concernés par les soins de support</p>
						</div>
						<p class="m-0 fw-bold">M0 à M6</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsables :</strong> E. Rusch et S. Pelletier</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> CHU-Tours, EES, ARS, Ligue Contre le Cancer,
						Oncocentre, LIFAT</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">3</p>
							<p class="h5 m-0">Définition des critères de correspondance entre le
								profil du patient et son e-parcours d’un côté et les catégories de soins de support, de
								l’autre côté, dans le périmètre du projet</p>
						</div>
						<p class="m-0 fw-bold">M0 à M6</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsables :</strong> T. Lecomte et S. Pelletier</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> CHU-Tours, EES, ARS, Ligue Contre le Cancer,
						Oncocentre</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">4</p>
							<p class="h5 m-0">Définition et implémentation de méthodes de
								recommandation d’activités de soins de support en adéquation avec le profil des patients
								et la prescription médicale d’un côté et des activités disponibles dans le périmètre des
								patients de l’autre côté</p>
						</div>
						<p class="m-0 fw-bold">M6 à M18</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsables :</strong> N. Messai et Y. Sam</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> LIFAT, ARS, CHU-Tours, France Assos Santé
					</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">5</p>
							<p class="h5 m-0">Accompagnement du patient à travers la
								planification et l’optimisation de la réalisation des soins retenus pour un ou plusieurs
								patients en fonction des contraintes temporelles, logistiques et médicales</p>
						</div>
						<p class="m-0 fw-bold">M18 à M36</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsables :</strong> Y. Sam et P. Martineau</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> LIFAT, Services des sports</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">6</p>
							<p class="h5 m-0">Collecte d’information à partir du contexte IoT
								autour des patients pour le suivi et l'évaluation de la réalisation des activités de
								soin mises en place et présentation de l’évolution sous 3 formes : pour le patient, pour
								l’aidant et pour le médecin</p>
						</div>
						<p class="m-0 fw-bold">M18 à M36</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsable :</strong> E. Huault</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> Capensis, LIFAT, France Assos Santé, Service
						des sports</p>
				</div>
			</div>
			<div class="card px-0 mb-4 brd-secondary-light">
				<div class="card-header bgrd-secondary-light color-accent-light">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center" style="max-width: 85%">
							<p class="h4 fw-bold m-0" style="padding-right: 1rem">7</p>
							<p class="h5 m-0">Organisation de journées de présentation des
								résultats</p>
						</div>
						<p class="m-0 fw-bold">M12, M24 et M36</p>
					</div>
				</div>
				<div class="card-body">
					<p><strong class="color-primary-light">Responsable :</strong> N Messai</p>
					<p class="m-0"><strong class="color-primary-light">Partenaires impliqués :</strong> Tous</p>
				</div>
			</div>
		</div>
	</div>

	{#
	<section  style="background-image: url(/public/assets/img/imgTours.jpg)">
		<div class="container">
			<div class="row">r bb bn
				<div class="col-12 col-md-7">
					<blockquote class="blockquote mb-0">
						<p class="h2 text-white">
							Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
							Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum,
							et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
						</p>
						{#
						<footer class="blockquote-footer text-white-50 mb-0">
							{{ user.partners }}
						</footer>

					</blockquote>

				</div>

			</div>
		</div>

	</section>
	#}
{% endblock %}