<form method="post" action="{{ path('video_delete', {'id': video.id}) }}" style="display: flex"
      onsubmit="return confirm('Confirmer la suppression de :\n\&quot;{{ video.title }}\&quot; ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
    <button type="submit" class="btn-del rounded fw-bold align-self-center mb-0 mx-2 h3"><i class="fa fa-trash"></i>
    </button>
</form>
