<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Validation du compte</title>
</head>
<body>
<div class="container">
	<h1 class="header text-center">SQVALD</h1>
	<div class="content">
		<p>Un administrateur à valider votre compte, vous pouvez dès à présent vous connecter en suivant ce lien :</p>
		<a href="{{ url('app_login') }}">{{ url('app_login') }}</a>
	</div>
</div>
</body>
</html>