<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="no-skin">
        <p>Bonjour,</p>

        <p>Nous vous adressons un nouveau rendez-vous !</p>

        <p>Pour toute information sur le logiciel, vous pouvez contacter notre service technique par téléphone au ou par courriel à </p>
        <p>Vous en souhaitant bonne réception et vous remerciant de votre confiance, recevez nos meilleures salutations.</p>
        <p>Cordialement,</p>
        <p>Le service technique</p>

    </body>
</html>